@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

.accordion__section {
  display: none;
}
@media only screen and (max-width: 1100px) {
  .accordion__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
  }
}

.accordion {
  background-color: #f0ecfc;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion__title {
  text-align: left;
  max-width: 50%;
}

.accordion__icon {
  margin-left: auto;
  transform: rotate(90deg);
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(270deg);
}

.accordion__content {
  background-color: #f0ecfc;
  overflow: auto;
  transition: 170px 0.6s ease;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
