.boxes {
  margin-top: 20px;
}

.box:nth-of-type(1),
.box:nth-of-type(3) {
  margin-right: 2%;
}

.interactive-maps {
  display: none;
}

@media screen and (min-width: 768px) {
  .interactive-maps {
    display: block;
    position: absolute;
    right: 0;
    width: 55%;
    text-align: right;
  }
}

@media only screen and (max-width: 1100px) {
  .container,
  .carousel {
    display: block;
    padding: 100px 48px;
  }
  .cols8 {
    width: 100%;
  }
  .cols14 {
    width: 100%;
  }
  h2 {
    margin-bottom: 48px;
    text-align: left;
  }
}

@media only screen and (max-width: 660px) {

  h2 {
    text-align: center;
  }
  .container,
  .carousel {
    padding: 80px 24px;
  }
  .photo-box,
  .photo-box:nth-of-type(3) {
    width: 100%;
    margin: 0 0px 28px 0px;
  }
}
