/* section {
  position: relative;
} */
.boxes {
  margin-top: 20px;
}

.box:nth-of-type(1),
.box:nth-of-type(3) {
  margin-right: 2%;
}

.interactive-maps {
  position: absolute;
  right: 0;
  width: 42%;
  /* @media only screen and (max-width: 2100px) {
  width: 42%;

} */
}

@media only screen and (max-width: 1100px) {
  .container,
  .carousel {
    display: block;
    padding: 100px 48px;
  }
  .cols8 {
    width: 100%;
  }
  .cols14 {
    width: 100%;
  }
  h2 {
    text-align: center;
    margin-bottom: 48px;
  }
}

@media only screen and (max-width: 660px) {
  .container,
  .carousel {
    padding: 80px 24px;
  }
  .photo-box,
  .photo-box:nth-of-type(3) {
    width: 100%;
    margin: 0 0px 28px 0px;
  }
}
